{%extends "home.html"%}

{%load static%}

{%block titlepage%}<title>Add Product</title>{%endblock%}


{%block nav%}
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        {%block titulo%} <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="">Add Product</a> {%endblock%}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'Home' %}">Home</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'About' %}">Staff</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'Products' %}">Productos</a></li>
            </ul>
        </div>
    </div>
</nav>
{%endblock%}


{%block contenido%}

<style>
    .centered-form {
        max-width: 250px;
        margin: 0 auto;
        text-align: center;
        background-color: none;
        padding: 1px;
    }

    input[type="text"],
    input[type="numbre"] {
            color:rgb(20, 1, 1);
            background-color: rgb(241, 232, 232);
            border: none;
            padding: 1px 5px;
            margin-bottom: 5px;
    }

    button {
        background-color: rgb(102, 96, 39);
        color: rgb(7, 0, 0);
        padding: 2px 4px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }

    p {
        font-size: 15px;
        color: rgb(240, 233, 233);
        margin-bottom: 2px;
    }
</style>

<div class="centered-form">
        <form action="Nuevo_Producto" method="POST">
            {% csrf_token %}
            <p>Nombre:</p>
            <input type="text" name="Prod_name" required>
            <p>Precio Costo</p>
            <input type="number" name="Prod_cost" required>
            <p>Precio Venta</p>
            <input type="number" name="Prod_sale" required>

            <button>Enviar</button>
        </form>
        
</div>

{%endblock%}

{%block encabezado%}
<section class="page-section clearfix">
    <div class="container">
        <div class="" style="text-align: center;">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Tienda/assets/img/form.png' %}" alt="..." style="width: 640px; height:480px;" />
        </div>
    </div>
</section>
{%endblock%}


{%block pie%}

{%endblock%}
