{%extends "home.html"%}
{%load static%}

{%block titlepage%}<title>Staff - VerdeBoutique</title>{%endblock%}


{%block encabezado%}

<section class="page-section clearfix">
    <div class="container">
        <div class="" style="text-align: center;">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Tienda/assets/img/crew.png' %}" alt="..." />
        </div>
    </div>
</section>


{%endblock%}



{%block contenido%}

<div class="container" style="margin:auto">
    <a class="btn btn-primary btn-xl" style="margin: auto;" href="{%url 'NStaff'%}">Añadir Staff</a>
    <a class="btn btn-primary btn-xl" style="margin: auto;" href="{%url 'StBuscar'%}">Buscar Staff</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="color: chartreuse;">Id</th>
                <th scope="col" style="color: chartreuse;">Nombre</th>
                <th scope="col" style="color: chartreuse;">Apellido</th>
                <th scope="col" style="color: chartreuse;">Categoria</th>
                <th scope="col" style="color: chartreuse;">Estado</th>
            </tr>
        </thead>
        <tbody>
            
            {%for n in staff%}
            <tr>
                
                <td style="color: gold;">{{n.id}}</td>
                <td style="color: gold;">{{n.sname}}</td>
                <td style="color: gold;">{{n.slname}}</td>
                <td style="color: gold;">{{n.scateg}}</td>
                <td style="color: gold;">{{n.sstatus}}</td>
                <td>
                <a type="button" class="btn btn-outline-light" style="background-color: black;" href="{%url 'el_staff' n.id%}">Eliminar</a>
                <a type="button" class="btn btn-outline-light" style="background-color: rgb(18, 34, 2);" href="{%url 'edit_staff' n.id%}">Editar</a>
                </td>


            </tr>
            {%endfor%}

        </tbody>


    </table>

</div>

{%endblock%}

{%block pie%}


{%endblock%}
