{%extends 'home.html'%}
{%load static%}

{%block titlepage%}<title>Productos</title>{%endblock%}

{%block nav%}

<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        {%block titulo%} <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="">Productos</a> {%endblock%}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'Home' %}">Home</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'About' %}">Staff</a></li>
            </ul>
        </div>
    </div>
</nav>


{%endblock%}

{%block contenido%}

        <div class="container" style="margin:auto">
            <a class="btn btn-primary btn-xl" style="margin: auto;" href="{%url 'Nuevo'%}">Añadir Productos</a>
            <a class="btn btn-primary btn-xl" style="margin: auto;" href="{%url 'Buscar'%}">Buscar Producto</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="color: chartreuse;">Id</th>
                        <th scope="col" style="color: chartreuse;">Producto</th>
                        <th scope="col" style="color: chartreuse;">Precio Costo</th>
                        <th scope="col" style="color: chartreuse;">Precio Consumidor</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {%for n in productos%}
                    <tr>
                        
                        <td style="color: gold;">{{n.id}}</td>
                        <td style="color: gold;">{{n.Prod_name}}</td>
                        <td style="color: gold;">{{n.Prod_cost}}</td>
                        <td style="color: gold;">{{n.Prod_sale}}</td>
                        <td>
                        <a type="button" class="btn btn-outline-light" style="background-color: black;" href="{%url 'eliminar_producto' n.id%}">Eliminar</a>
                        <a type="button" class="btn btn-outline-light" style="background-color: rgb(18, 34, 2);" href="{%url 'editar_producto' n.id%}">Editar</a>
                        </td>
                    </tr>
                    {%endfor%}

                </tbody>


            </table>





        </div>


{%endblock%}

{%block encabezado%}

<section class="page-section clearfix">
    <div class="container">
        <div class="" style="text-align: center;">
            <img class="img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Tienda/assets/img/puesto2.png' %}" alt="..." style="width: 700px; height:400px;" />
</section>
{%endblock%}


{%block pie%}

{%endblock%}